In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error
import xgboost as xgb
import lightgbm as lgb

In [16]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [6]:
train_df.head()   # View the first few rows of the training data
train_df.info()   # Check the data types and null values
train_df.describe()  # Get statistical summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28800 entries, 0 to 28799
Data columns (total 60 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      28800 non-null  int64
 1   dri_score               28646 non-null  object
 2   psych_disturb           26738 non-null  object
 3   cyto_score              20732 non-null  object
 4   diabetes                26681 non-null  object
 5   hla_match_c_high        24180 non-null  float64
 6   hla_high_res_8          22971 non-null  float64
 7   tbi_status              28800 non-null  object
 8   arrhythmia              26598 non-null  object
 9   hla_low_res_6           25530 non-null  float64
 10  graft_type              28800 non-null  object
 11  vent_hist               28541 non-null  object
 12  renal_issue             26885 non-null  object
 13  pulm_severe             26665 non-null  object
 14  prim_disease_hct        28800 non-null  object
 15  hla_high_res_6          23516 non-null  float64
 16  cmv_status              28166 non-null  object
 17  hla_high_res_10         21637 non-null  float64
 18  hla_match_dqb1_high     23601 non-null  float64
 19  tce_imm_match           17667 non-null  object
 20  hla_nmdp_6              24603 non-null  float64
 21  hla_match_c_low         26000 non-null  float64
 22  rituximab               26652 non-null  object
 23  hla_match_drb1_low      26157 non-null  float64
 24  hla_match_dqb1_low      24606 non-null  float64
 25  prod_type               28800 non-null  object
 26  cyto_score_detail       16877 non-null  object
 27  conditioning_intensity  24011 non-null  object
 28  ethnicity               28213 non-null  object
 29  year_hct                28800 non-null  int64
 30  obesity                 27040 non-null  object
 31  mrd_hct                 12203 non-null  object
 32  in_vivo_tcd             28575 non-null  object
 33  tce_match               9804 non-null   object
 34  hla_match_a_high        24499 non-null  float64
 35  hepatic_severe          26929 non-null  object
 36  donor_age               26992 non-null  float64
 37  prior_tumor             27122 non-null  object
 38  hla_match_b_low         26235 non-null  float64
 39  peptic_ulcer            26381 non-null  object
 40  age_at_hct              28800 non-null  float64
 41  hla_match_a_low         26410 non-null  float64
 42  gvhd_proph              28575 non-null  object
 43  rheum_issue             26617 non-null  object
 44  sex_match               28539 non-null  object
 45  hla_match_b_high        24712 non-null  float64
 46  race_group              28800 non-null  object
 47  comorbidity_score       28323 non-null  float64
 48  karnofsky_score         27930 non-null  float64
 49  hepatic_mild            26883 non-null  object
 50  tce_div_match           17404 non-null  object
 51  donor_related           28642 non-null  object
 52  melphalan_dose          27395 non-null  object
 53  hla_low_res_8           25147 non-null  float64
 54  cardiac                 26258 non-null  object
 55  hla_match_drb1_high     25448 non-null  float64
 56  pulm_moderate           26753 non-null  object
 57  hla_low_res_10          23736 non-null  float64
 58  efs                     28800 non-null  float64
 59  efs_time                28800 non-null  float64
dtypes: float64(23), int64(2), object(35)
memory usage: 13.2+ MB

,ID,hla_match_c_high,hla_high_res_8,hla_low_res_6,hla_high_res_6,hla_high_res_10,hla_match_dqb1_high,hla_nmdp_6,hla_match_c_low,hla_match_drb1_low,...,age_at_hct,hla_match_a_low,hla_match_b_high,comorbidity_score,karnofsky_score,hla_low_res_8,hla_match_drb1_high,hla_low_res_10,efs,efs_time
count,28800.000000,24180.000000,22971.000000,25530.000000,23516.000000,21637.000000,23601.000000,24603.000000,26000.000000,26157.000000,...,28800.000000,26410.000000,24712.00000,28323.000000,27930.00000,25147.000000,25448.000000,23736.000000,28800.000000,28800.000000
mean,14399.500000,1.764516,6.876801,5.143322,5.109202,8.617230,1.736876,5.160346,1.757808,1.715296,...,38.663162,1.709087,1.69962,1.702327,83.83208,6.903448,1.707128,8.664687,0.539306,23.237678
std,8313.988213,0.431941,1.564313,1.207757,1.214162,1.905125,0.447687,1.203240,0.435453,0.451282,...,21.147581,0.458259,0.46518,1.994443,11.02884,1.565017,0.461179,1.882746,0.498461,24.799748
min,0.000000,0.000000,2.000000,2.000000,0.000000,3.000000,0.000000,2.000000,0.000000,1.000000,...,0.044000,0.000000,0.00000,0.000000,40.00000,2.000000,0.000000,4.000000,0.000000,0.333000
25%,7199.750000,2.000000,6.000000,4.000000,4.000000,7.000000,1.000000,4.000000,2.000000,1.000000,...,19.539000,1.000000,1.00000,0.000000,70.00000,6.000000,1.000000,7.000000,0.000000,5.619750
50%,14399.500000,2.000000,8.000000,6.000000,6.000000,10.000000,2.000000,6.000000,2.000000,2.000000,...,41.006000,2.000000,2.00000,1.000000,90.00000,8.000000,2.000000,10.000000,1.000000,9.796500
75%,21599.250000,2.000000,8.000000,6.000000,6.000000,10.000000,2.000000,6.000000,2.000000,2.000000,...,55.965250,2.000000,2.00000,2.000000,90.00000,8.000000,2.000000,10.000000,1.000000,35.100000
max,28799.000000,2.000000,8.000000,6.000000,6.000000,10.000000,2.000000,6.000000,2.000000,2.000000,...,73.726000,2.000000,2.00000,10.000000,100.00000,8.000000,2.000000,10.000000,1.000000,156.819000

In [7]:
# Check for missing values in the entire dataframe
train_df.isnull().sum()

ID                            0
dri_score                   154
psych_disturb              2062
cyto_score                 8068
diabetes                   2119
hla_match_c_high           4620
hla_high_res_8             5829
tbi_status                    0
arrhythmia                 2202
hla_low_res_6              3270
graft_type                    0
vent_hist                   259
renal_issue                1915
pulm_severe                2135
prim_disease_hct              0
hla_high_res_6             5284
cmv_status                  634
hla_high_res_10            7163
hla_match_dqb1_high        5199
tce_imm_match             11133
hla_nmdp_6                 4197
hla_match_c_low            2800
rituximab                  2148
hla_match_drb1_low         2643
hla_match_dqb1_low         4194
prod_type                     0
cyto_score_detail         11923
conditioning_intensity     4789
ethnicity                   587
year_hct                      0
obesity                    1760
mrd_hct                   16597
in_vivo_tcd                 225
tce_match                 18996
hla_match_a_high           4301
hepatic_severe             1871
donor_age                  1808
prior_tumor                1678
hla_match_b_low            2565
peptic_ulcer               2419
age_at_hct                    0
hla_match_a_low            2390
gvhd_proph                  225
rheum_issue                2183
sex_match                   261
hla_match_b_high           4088
race_group                    0
comorbidity_score           477
karnofsky_score             870
hepatic_mild               1917
tce_div_match             11396
donor_related               158
melphalan_dose             1405
hla_low_res_8              3653
cardiac                    2542
hla_match_drb1_high        3352
pulm_moderate              2047
hla_low_res_10             5064
efs                           0
efs_time                      0
dtype: int64